body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #f8f8f8; /* Change this to the color of your background */
}


.progressBar {
    appearance: none;
    height: 20px;
    width: 100%;
    color: grey;
    border-radius: 0px;
      
    /* Chrome and Safari */
    &::-webkit-progress-bar {
      background: grey;
      border-radius: 0px;
    }
  
    &::-webkit-progress-value {
      background-color: lightblue;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  
    /* Firefox */
    &::-moz-progress-bar {
      background-color: lightblue;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    /* Dividers */
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background: #000; /* Change this to the color of your divider */
    }

    &::before {
      top: 25%; /* Position of first divider */
    }

    &::after {
      top: 75%; /* Position of second divider */
    }

  }

  .progressBarWrapper {
    position: relative;
    height: 20px; /* Adjust this to change the height of the progress bar */
    width: 75vw; /* Adjust this to change the width of the progress bar */
    border: 1px solid #ffffff; /* This will add a border around the progress bar */
  }
  
  .progressBarWrapper::before,
  .progressBarWrapper::after,
  .divider::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ffffff; /* Change this to the color of your divider */
  }

  .progressBarWrapper::after {
    left: 6.25%; /* Position of second divider */
  }

  .divider:nth-child(3)::before {
    left: 12.50%; /* Position of third divider */
  }

  .divider:nth-child(4)::before {
    left: 25.00%; /* Position of fourth divider */
  }

  .divider:nth-child(5)::before {
    left: 43.75%; /* Position of fifth divider */
  }

  .divider:nth-child(6)::before {
    left: 68.75%; /* Position of sixth divider */
  }