.YeTable {
    position: relative;
    margin-bottom: 40px;
    border-collapse: collapse;
    width: 100%;
    border-top: none; /* Add this */
    border-left: none; /* Add this */
    border-right: none; /* Add this */
}

.YeTable td {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    height: 30px;
}


th {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    white-space: nowrap;
    background: none;
    border: none;
}

td {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    white-space: nowrap;
    background-color: #2e2e2e;
}

tr:nth-child(even) {
    background-color: #2e2e2e;
}
.correct {
    background-color: green;
}
.close {
    background-color: rgb(170, 168, 40);
}

.selected{
    background-color: #808080;
}